In [1]:
!pip install gdown --quiet
!pip install scikit-learn --quiet

]4;0;#000000\]4;1;#FFFFFF\]4;2;#CCCCCC\]4;3;#8f8f8f\]4;4;#FFFFFF\]4;5;#111111\]4;6;#CCCCCC\]4;7;#FFFFFF\]4;8;#404040\]4;9;#CCCCCC\]4;10;#FFFFFF\]4;11;#909090\]4;12;#CCCCCC\]4;13;#808080\]4;14;#CCCCCC\]4;15;#FFFFFF\]10;#FFFFFF\]11;[100]#000000\]12;#FFFFFF\]13;#FFFFFF\]17;#FFFFFF\]19;#000000\]4;232;#FFFFFF\]4;256;#FFFFFF\]708;[100]#000000\

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
]4;0;#000000\]4;1;#FFFFFF\]4;2;#CCCCCC\]4;3;#8f8f8f\]4;4;#FFFFFF\]4;5;#111111\]4;6;#CCCCCC\]4;7;#FFFFFF\]4;8;#404040\]4;9;#CCCCCC\]4;10;#FFFFFF\]4;11;#909090\]4;12;#CCCCCC\]4;13;#808080\]4;14;#CCCCCC\]4;15;#FFFFFF\]10;#FFFFFF\]11;[100]#000000\]12;#FFFFFF\]13;#FFFFFF\]17;#FFFFFF\]19;#000000\]4;232;#FFFFFF\]4;256;#FFFFFF\]708;[100]#000000\

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
!gdown 1uFQbdN-O84XMEFCDaknseY-EH7uuUUMK
!mkdir data
!unzip -o databasebasketball.zip -d data 
!rm databasebasketball.zip

]4;0;#000000\]4;1;#FFFFFF\]4;2;#CCCCCC\]4;3;#8f8f8f\]4;4;#FFFFFF\]4;5;#111111\]4;6;#CCCCCC\]4;7;#FFFFFF\]4;8;#404040\]4;9;#CCCCCC\]4;10;#FFFFFF\]4;11;#909090\]4;12;#CCCCCC\]4;13;#808080\]4;14;#CCCCCC\]4;15;#FFFFFF\]10;#FFFFFF\]11;[100]#000000\]12;#FFFFFF\]13;#FFFFFF\]17;#FFFFFF\]19;#000000\]4;232;#FFFFFF\]4;256;#FFFFFF\]708;[100]#000000\
Downloading...
From: https://drive.google.com/uc?id=1uFQbdN-O84XMEFCDaknseY-EH7uuUUMK
To: /home/skywalker/code/University/MLProject/databasebasketball.zip
100%|██████████████████████████████████████| 1.38M/1.38M [00:01<00:00, 1.24MB/s]
]4;0;#000000\]4;1;#FFFFFF\]4;2;#CCCCCC\]4;3;#8f8f8f\]4;4;#FFFFFF\]4;5;#111111\]4;6;#CCCCCC\]4;7;#FFFFFF\]4;8;#404040\]4;9;#CCCCCC\]4;10;#FFFFFF\]4;11;#909090\]4;12;#CCCCCC\]4;13;#808080\]4;14;#CCCCCC\]4;15;#FFFFFF\]10;#FFFFFF\]11;[100]#000000\]12;#FFFFFF\]13;#FFFFFF\]17;#FFFFFF\]19;#000000\]4;232;#FFFFFF\]4;256;#FFFFFF\]708;[100]#000000\
mkdir: cannot create directory ‘data’: File exists
]4;0;#000000\]4;1;#FFFFFF\]4;2;#CCCCCC\]4;3;#8f8f8f\]4;4;#FFFFFF\]4;5;#111111\]4;6;#CCCCCC\]4;7;#FFFFFF\]4;8;#404040\]4;9;#CCCCCC\]4;10;#FFFFFF\]4;11;#909090\]4;12;#CCCCCC\]4;13;#808080\]4;14;#CCCCCC\]4;15;#FFFFFF\]10;#FFFFFF\]11;[100]#000000\]12;#FFFFFF\]13;#FFFFFF\]17;#FFFFFF\]19;#000000\]4;232;#FFFFFF\]4;256;#FFFFFF\]708;[100]#000000\
Archive:  databasebasketball.zip
  inflating: data/team_season.txt
  inflating: data/teams.txt
  inflating: data/coaches_career.txt
  inflating: data/coaches_season.txt
  inflating: data/draft.txt
  inflating: data/player_allstar.txt
  inflating: data/player_playoffs.txt
  inflating: data/player_playoffs_career.txt
  inflating: data/player_regular_season.txt
  inflating: data/player_regular_season_career.txt
  inflating: data/players.txt
  inflating: data/readme.txt
]4;0;#000000\]4;1;#FFFFFF\]4;2;#CCCCCC\]4;3;#8f8f8f\]4;4;#FFFFFF\]4;5;#111111\]4;6;#CCCCCC\]4;7;#FFFFFF\]4;8;#404040\]4;9;#CCCCCC\]4;10;#FFFFFF\]4;11;#909090\]4;12;#CCCCCC\]4;13;#808080\]4;14;#CCCCCC\]4;15;#FFFFFF\]10;#FFFFFF\]11;[100]#000000\]12;#FFFFFF\]13;#FFFFFF\]17;#FFFFFF\]19;#000000\]4;232;#FFFFFF\]4;256;#FFFFFF\]708;[100]#000000\

In [3]:
# Loading the data
import pandas as pd
import numpy as np
team_season = pd.read_csv('data/team_season.txt')
player_season = pd.read_csv('data/player_regular_season.txt')
coaches_season = pd.read_csv('data/coaches_season.txt')
player_allstar = pd.read_csv('data/player_allstar.txt')
player_biological = pd.read_csv('data/players.txt')

print('Data loaded successfully!')
print('team_season shape:', team_season.shape)
print('player_season shape:', player_season.shape)
print('coaches_season shape:', coaches_season.shape)
print('player_allstar shape:', player_allstar.shape)
print('player_biological shape:', player_biological.shape)

Data loaded successfully!
team_season shape: (1187, 36)
player_season shape: (19112, 23)
coaches_season shape: (1241, 10)
player_allstar shape: (1462, 23)
player_biological shape: (3572, 11)

Intuitively we can see that some dimensions can be ignored or combined into a single metric. For example, height in feet and inches in feet can be combined into a single metric. Some features are also difficult to interpret, such as their birthday, so we can ignore them.

In [4]:
# for players bio data
player_biological["height"] = player_biological["h_feet"]*12 + player_biological["h_inches"]

# only keep ilkid, position, height, weight
player_biological = player_biological[[
    "ilkid", 
    # "position", 
    "height", 
    "weight"
]]
player_biological.head()

       ilkid  height  weight
0  ABDELAL01    82.0   240.0
1  ABDULKA01    86.0   225.0
2  ABDULMA01    73.0   162.0
3  ABDULTA01    78.0   223.0
4  ABDURSH01    81.0   225.0

In [5]:
# fga and fgm are field goals attempted and made, we can simply calculate the field goal percentage
player_season["fg%"] = np.where(player_season["fga"] == 0, 0, player_season["fgm"]/player_season["fga"])
# fta and ftm are free throws attempted and made, we can simply calculate the free throw percentage
player_season["ft%"] = np.where(player_season["fta"] == 0, 0, player_season["ftm"]/player_season["fta"])
# tpa and tpm are three points attempted and made, we can simply calculate the three point percentage
player_season["3p%"] = np.where(player_season["tpa"] == 0, 0, player_season["tpm"]/player_season["tpa"])


## We could optionally calculate them on an averagae per game basis
# player_season["pts_pg"] = player_season["pts"]/player_season["gp"]
# player_season["oreb_pg"] = player_season["oreb"]/player_season["gp"]
# player_season["dreb_pg"] = player_season["dreb"]/player_season["gp"]
# player_season["reb_pg"] = player_season["reb"]/player_season["gp"]
# player_season["asts_pg"] = player_season["asts"]/player_season["gp"]
# player_season["stl_pg"] = player_season["stl"]/player_season["gp"]
# player_season["blk_pg"] = player_season["blk"]/player_season["gp"]
# player_season["turnover_pg"] = player_season["turnover"]/player_season["gp"]
# player_season["pf_pg"] = player_season["pf"]/player_season["gp"]

player_season = player_season[[ 
    'ilkid', 'team', 'year', # basic info    
    'fg%', 'ft%', '3p%', # shooting
    # all the stats
    'gp', 'minutes', 'pts', 'oreb', 'dreb', 'reb', 'asts', 
    'stl', 'blk', 'turnover', 'pf', 
    # or per game stats
    # 'pts_pg', 'oreb_pg', 'dreb_pg', 'reb_pg', 'asts_pg', 'stl_pg', 'blk_pg', 'turnover_pg', 'pf_pg' # per game
]]

# merge with player bio data
player_season = player_season.merge(player_biological, on='ilkid', how='left')

player_season.head()

,ilkid,team,year,fg%,ft%,3p%,gp,minutes,pts,oreb,dreb,reb,asts,stl,blk,turnover,pf,height,weight
0,ABRAMJO01,PIT,1946,0.242206,0.691011,0.0,47,0,527,0,0,0,35,0,0,0.0,161,75.0,195.0
1,AUBUCCH01,DE1,1946,0.252747,0.542857,0.0,30,0,65,0,0,0,20,0,0,0.0,46,70.0,137.0
2,BAKERNO01,CH1,1946,0.000000,0.000000,0.0,4,0,0,0,0,0,0,0,0,0.0,0,72.0,180.0
3,BALTIHE01,ST1,1946,0.201521,0.463768,0.0,58,0,138,0,0,0,16,0,0,0.0,98,76.0,195.0
4,BARRJO01,ST1,1946,0.283105,0.594937,0.0,58,0,295,0,0,0,54,0,0,0.0,164,75.0,205.0

In [6]:
# identify all star players and add a column to player_season with a boolean value
player_allstar["allstar"] = 1
player_allstar = player_allstar[["ilkid", "year", "allstar"]]
# it is not upper case in player_allstar
player_allstar["ilkid"] = player_allstar["ilkid"].astype(str).str.upper()
# strip whitespace from ilkid
player_allstar["ilkid"] = player_allstar["ilkid"].str.strip()
player_season["ilkid"] = player_season["ilkid"].astype(str).str.upper()

player_season_allstar = pd.merge(
    player_season, player_allstar,
    on=['ilkid', 'year'],
    how='left'
)
player_season_allstar["allstar"] = player_season_allstar["allstar"].fillna(0)
# print all star players
player_season_allstar[player_season_allstar["ilkid"] == "ABDULKA01"]

,ilkid,team,year,fg%,ft%,3p%,gp,minutes,pts,oreb,dreb,reb,asts,stl,blk,turnover,pf,height,weight,allstar
3492,ABDULKA01,MIL,1969,0.518232,0.652759,0.000000,82,3534,2361,0,0,1190,337,0,0,0.0,283,86.0,225.0,1.0
3846,ABDULKA01,MIL,1970,0.576777,0.690162,0.000000,82,3288,2596,0,0,1311,272,0,0,0.0,264,86.0,225.0,1.0
4228,ABDULKA01,MIL,1971,0.574047,0.688525,0.000000,81,3583,2822,0,0,1346,370,0,0,0.0,235,86.0,225.0,1.0
4637,ABDULKA01,MIL,1972,0.554176,0.713043,0.000000,76,3254,2292,0,0,1224,379,0,0,0.0,208,86.0,225.0,1.0
5039,ABDULKA01,MIL,1973,0.538943,0.702381,0.000000,81,3548,2191,287,891,1178,386,112,283,0.0,238,86.0,225.0,1.0
5407,ABDULKA01,MIL,1974,0.512626,0.762911,0.000000,65,2747,1949,194,718,912,264,65,212,0.0,205,86.0,225.0,1.0
5807,ABDULKA01,LAL,1975,0.528935,0.702830,0.000000,82,3379,2275,272,1111,1383,413,119,338,0.0,292,86.0,225.0,1.0
6191,ABDULKA01,LAL,1976,0.579256,0.701493,0.000000,82,3016,2152,266,824,1090,319,101,261,0.0,262,86.0,225.0,1.0
6548,ABDULKA01,LAL,1977,0.550207,0.782857,0.000000,62,2265,1600,186,615,801,269,103,185,208.0,182,86.0,225.0,0.0
6922,ABDULKA01,LAL,1978,0.576837,0.736287,0.000000,80,3157,1903,207,818,1025,431,76,316,282.0,230,86.0,225.0,1.0
7266,ABDULKA01,LAL,1979,0.603760,0.764706,0.000000,82,3143,2034,190,696,886,371,81,280,297.0,216,86.0,225.0,1.0
7624,ABDULKA01,LAL,1980,0.573782,0.766304,0.000000,80,2976,2095,197,624,821,272,59,228,249.0,244,86.0,225.0,1.0
7987,ABDULKA01,LAL,1981,0.578786,0.705882,0.000000,76,2677,1818,172,487,659,225,63,207,230.0,224,86.0,225.0,1.0
8360,ABDULKA01,LAL,1982,0.587948,0.749326,0.000000,79,2554,1722,167,425,592,200,61,170,200.0,220,86.0,225.0,1.0
8751,ABDULKA01,LAL,1983,0.578352,0.723350,0.000000,80,2622,1717,169,418,587,211,55,143,221.0,211,86.0,225.0,1.0
9094,ABDULKA01,LAL,1984,0.599006,0.731646,0.000000,79,2630,1735,162,460,622,249,63,162,197.0,238,86.0,225.0,1.0
9456,ABDULKA01,LAL,1985,0.564275,0.765376,0.000000,79,2629,1846,133,345,478,280,67,130,203.0,248,86.0,225.0,1.0
9835,ABDULKA01,LAL,1986,0.563948,0.714286,0.333333,78,2441,1366,152,371,523,203,49,97,186.0,245,86.0,225.0,1.0
10213,ABDULKA01,LAL,1987,0.531561,0.762082,0.000000,80,2308,1165,118,360,478,135,48,92,159.0,216,86.0,225.0,1.0
10639,ABDULKA01,LAL,1988,0.474962,0.739394,0.000000,74,1695,748,103,231,334,74,38,85,95.0,196,86.0,225.0,1.0

In [7]:
# team_season data
# we can also simplify some data here
# how many points they scored per game 
# divided by the number of times they had the ball
team_season["offensive_rating"] = np.where(
    team_season['pace'] > 0,
    team_season['o_pts'] / team_season['pace'] * 100,
    0
)
# how many points they allowed per game
# divided by the number of times the other team had the ball
team_season["defensive_rating"] = np.where(
    team_season['pace'] > 0,
    team_season['d_pts'] / team_season['pace'] * 100,
    0
)
# and the difference between the two
team_season["net_rating"] = team_season["offensive_rating"] - team_season["defensive_rating"]
# then some of the same percentages as the player data
team_season["fg%"] = np.where(team_season["o_fga"] == 0, 0, team_season["o_fgm"]/team_season["o_fga"])
team_season["ft%"] = np.where(team_season["o_fta"] == 0, 0, team_season["o_ftm"]/team_season["o_fta"])
team_season["3p%"] = np.where(team_season["o_3pa"] == 0, 0, team_season["o_3pm"]/team_season["o_3pa"])
total_games = team_season['won'] + team_season['lost']
team_season["win%"] = np.where(total_games == 0, 0, team_season['won']/total_games)

team_season = team_season[[
    'team', 'year', # basic info
    'offensive_rating', 'defensive_rating', 'net_rating', # ratings
    'fg%', 'ft%', '3p%', 'win%', # shooting and winning
    'pace', 'won', 'lost' # pace and wins
]]

team_season.head()

,team,year,offensive_rating,defensive_rating,net_rating,fg%,ft%,3p%,win%,pace,won,lost
0,BOS,1946,0.0,0.0,0.0,0.272161,0.589818,0.0,0.366667,0.0,22,38
1,CH1,1946,0.0,0.0,0.0,0.297828,0.605806,0.0,0.639344,0.0,39,22
2,CL1,1946,0.0,0.0,0.0,0.293736,0.632353,0.0,0.500000,0.0,30,30
3,DE1,1946,0.0,0.0,0.0,0.245935,0.617805,0.0,0.333333,0.0,20,40
4,NYK,1946,0.0,0.0,0.0,0.278782,0.661335,0.0,0.550000,0.0,33,27

In [8]:
# Way 1 - Aggregating player stats to team stats
# aggregating player stats to team stats 
team_season_player_stats = player_season_allstar.groupby(['team', 'year']).agg({
    'fg%': 'mean', 'ft%': 'mean', '3p%': 'mean', # shooting
    'gp': 'sum', 'minutes': 'sum', 'pts': 'sum', 'oreb': 'sum', 'dreb': 'sum', 'reb': 'sum', 'asts': 'sum', 
    'stl': 'sum', 'blk': 'sum', 'turnover': 'sum', 'pf': 'sum', # all the stats
    'height': 'mean', 'weight': 'mean', # bio
    'allstar': 'sum' # allstar appearances
}).reset_index()
# then merging with team_season data
team_season_allstar = team_season.merge(
    team_season_player_stats,
    on=['team', 'year'],
    how='left'
)
team_season_allstar.head()

,team,year,offensive_rating,defensive_rating,net_rating,fg%_x,ft%_x,3p%_x,win%,pace,...,dreb,reb,asts,stl,blk,turnover,pf,height,weight,allstar
0,BOS,1946,0.0,0.0,0.0,0.272161,0.589818,0.0,0.366667,0.0,...,0,0,470,0,0,0.0,1202,73.950000,188.800000,0.0
1,CH1,1946,0.0,0.0,0.0,0.297828,0.605806,0.0,0.639344,0.0,...,0,0,436,0,0,0.0,1473,73.906250,187.187500,0.0
2,CL1,1946,0.0,0.0,0.0,0.293736,0.632353,0.0,0.500000,0.0,...,0,0,494,0,0,0.0,1246,74.666667,194.117647,0.0
3,DE1,1946,0.0,0.0,0.0,0.245935,0.617805,0.0,0.333333,0.0,...,0,0,482,0,0,0.0,1351,74.600000,188.133333,0.0
4,NYK,1946,0.0,0.0,0.0,0.278782,0.661335,0.0,0.550000,0.0,...,0,0,457,0,0,0.0,1218,74.500000,187.250000,0.0

In [9]:
from sklearn.preprocessing import StandardScaler

features = ['offensive_rating', 'defensive_rating', 'net_rating',
       'fg%_x', 'ft%_x', '3p%_x', 'pace', 'fg%_y',
       'ft%_y', '3p%_y', 
       # 'gp', 'minutes', 'pts', 'oreb', 'dreb', 'reb', 'asts','stl', 'blk', 
       'turnover', 'pf', 'height', 'weight', 'allstar']

scaler = StandardScaler()
final_dataframe = team_season_allstar.copy()
final_dataframe[features] = scaler.fit_transform(final_dataframe[features])
final_dataframe.head()

,team,year,offensive_rating,defensive_rating,net_rating,fg%_x,ft%_x,3p%_x,win%,pace,...,dreb,reb,asts,stl,blk,turnover,pf,height,weight,allstar
0,BOS,1946,-1.429173,-1.429605,-0.002095,-4.143252,-4.887207,-0.414935,0.366667,-1.436687,...,0,0,470,0,0,-1.379502,-2.727812,-3.627060,-2.254780,-1.116108
1,CH1,1946,-1.429173,-1.429605,-0.002095,-3.543018,-4.386355,-0.414935,0.639344,-1.436687,...,0,0,436,0,0,-1.379502,-1.686648,-3.664690,-2.451368,-1.116108
2,CL1,1946,-1.429173,-1.429605,-0.002095,-3.638725,-3.554753,-0.414935,0.500000,-1.436687,...,0,0,494,0,0,-1.379502,-2.558766,-3.010656,-1.606477,-1.116108
3,DE1,1946,-1.429173,-1.429605,-0.002095,-4.756517,-4.010499,-0.414935,0.333333,-1.436687,...,0,0,482,0,0,-1.379502,-2.155363,-3.067996,-2.336057,-1.116108
4,NYK,1946,-1.429173,-1.429605,-0.002095,-3.988409,-2.646847,-0.414935,0.550000,-1.436687,...,0,0,457,0,0,-1.379502,-2.666341,-3.154006,-2.443749,-1.116108

In [10]:
# We can turn this into a binary classification problem by using a simple heuristic
# if the team has a higher win% than their opponent, we will label them as 1
# we can iterate through the dataframe and then build a dataset of the difference
# in the features between the two teams and who the winner was
matchups = []

for year in final_dataframe['year'].unique():
    year_data = final_dataframe[final_dataframe['year'] == year]
    teams = year_data['team'].unique()
    for i in range(len(teams)):
        # so we dont compare the same teams against each other again
        for j in range(len(teams)):
            if teams[i] == teams[j]:
                continue
            team1_data = year_data[year_data['team'] == teams[i]].iloc[0]
            team2_data = year_data[year_data['team'] == teams[j]].iloc[0]
            match_features = {}
            for feat in features:
                match_features[feat] = team1_data[feat] - team2_data[feat]
            
            match_features['winner'] = 1 if team1_data['win%'] > team2_data['win%'] else 0
            matchups.append(match_features)
matchups_df = pd.DataFrame(matchups)
matchups_df.head()

,offensive_rating,defensive_rating,net_rating,fg%_x,ft%_x,3p%_x,pace,fg%_y,ft%_y,3p%_y,turnover,pf,height,weight,allstar,winner
0,0.0,0.0,0.0,-0.600234,-0.500853,0.0,0.0,0.136159,2.512622,0.0,0.0,-1.041164,0.037629,0.196588,0.0,0
1,0.0,0.0,0.0,-0.504527,-1.332455,0.0,0.0,0.520527,1.102218,0.0,0.0,-0.169045,-0.616404,-0.648302,0.0,0
2,0.0,0.0,0.0,0.613265,-0.876708,0.0,0.0,0.381502,-0.064922,0.0,0.0,-0.572448,-0.559064,0.081277,0.0,1
3,0.0,0.0,0.0,-0.154843,-2.240360,0.0,0.0,-0.512193,-1.888359,0.0,0.0,-0.061471,-0.473054,0.188969,0.0,0
4,0.0,0.0,0.0,-0.194094,-3.074727,0.0,0.0,-0.420539,-1.621546,0.0,0.0,0.710758,0.113377,0.973106,0.0,0

In [11]:
X = matchups_df.drop('winner', axis=1)
y = matchups_df['winner']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

# show feature importances
importances = clf.feature_importances_
indices = np.argsort(importances)[::-1]
for f in range(X.shape[1]):
    print(f'{X.columns[indices[f]]}: {importances[indices[f]]}')

net_rating: 0.30873880844740637
defensive_rating: 0.1067122207659316
fg%_x: 0.10366573455874915
offensive_rating: 0.09958037415208461
allstar: 0.09641505498439092
pf: 0.04043030844893217
fg%_y: 0.03904693238751498
ft%_x: 0.03622408611988389
ft%_y: 0.031051109778317137
weight: 0.03081686296348894
height: 0.030091431627626408
turnover: 0.02651170566913907
3p%_y: 0.023881924363001194
pace: 0.021559642888864836
3p%_x: 0.005273802844668902

In [12]:
# Way 2 - using win% as the target

# X = final_dataframe[features]
# y = final_dataframe['win%']

# from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# from sklearn.linear_model import LinearRegression

# model = LinearRegression()
# model.fit(X_train, y_train)

# y_pred = model.predict(X_test)

# from sklearn.metrics import mean_squared_error

# mean_squared_error(y_test, y_pred)